<div class="row">
    <div class="span9">
        <h1>Pay For Your Holiday</h1>
    </div>
</div>

<div class="row">
    <div class="span3">
        <h2>Summer 2014</h2>
        <img src="../assets/img/hotel_temp.jpg"/>
    </div>
    <div class="span8">
        <h2>Payment to Super Ranch</h2>
        <p>Thank you for your payment:</p>

        <div class="alert alert-success">
            Success! Your reference is: <%- reference %>
        </div>
    </div>
</div>