<div class="row">
    <div class="span9">
        <h1>Pay For Your Holiday</h1>
    </div>
</div>
<div class="row">
    <div class="span3">
        <h2>Summer 2014</h2>
        <img src="../assets/img/hotel_temp.jpg"/>
    </div>
    <div class="span8">
        <h2>Payment to Super Ranch</h2>
        <p>Check the details below for your payment to Super Ranch:</p>

        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputAccountNumber">Account Number</label>
                <div class="controls">
                    <input type="text" id="inputAccountNumber" placeholder="Account Number"></input>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputBicSwift">Bic/Swift</label>
                <div class="controls">
                    <input type="password" id="inputBicSwift" placeholder="Bic Swift"></input>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputAmount">Amount</label>
                <div class="controls">
                    <div class="input-prepend">
                    <span class="add-on">USD</span>
                    <input class="span2" id="inputAmount" type="text" placeholder="Amount"></input>
                </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox"> I accept the terms and conditions</input>
                    </label>
                    <button type="submit" class="btn">Make Payment</button>
                </div>
            </div>
        </form>
    </div>
</div>

