<div class="row">
    <div class="span9">
        <h1>Pay For Your Holiday</h1>
    </div>
</div>
<div class="row">
    <div class="span3">
        <h2>Summer 2014</h2>
        <img src="../assets/img/hotel_temp.jpg"/>
    </div>
    <div class="span8">
        <h2>Payment to group</h2>
        <p>Please enter your details below to pay into the group account:</p>

        <form class="form-horizontal">


            <div class="control-group">
                <label class="control-label" for="accessKeyRef">Access Key</label>
                <div class="controls">
                    <input type="text" id="accessKeyRef" value="1X0m87dmM2LiwFgxPLBJ" ></input>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="data">Data</label>
                <div class="controls">
                    <input type="text" id="data" value="" ></input>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="returnURL">Return URL</label>
                <div class="controls">
                    <input type="text" id="returnURL" value="http://www.mosaic-lab.com/demo/payline/response.php" ></input>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="cardNumber">Card Number</label>
                <div class="controls">
                    <input type="text" id="cardNumber" placeholder="Card Number"></input>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="cardExpirationDate">Expiration Date</label>
                <div class="controls">
                    <input type="text" id="cardExpirationDate" placeholder="Expiration Date"></input>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="cardCvx">CVV</label>
                <div class="controls">
                    <input type="text" id="cardCvx" placeholder="CVV"></input>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputAmount">Amount</label>
                <div class="controls">
                    <div class="input-prepend">
                    <span class="add-on">EUR</span>
                    <input class="span2" id="inputAmount" type="text" placeholder="Amount"></input>
                </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox"> I accept the terms and conditions</input>
                    </label>
                    <button type="submit" class="btn">Make Payment</button>
                </div>
            </div>
        </form>
    </div>
</div>

