<div class="row">
    <div class="span9">
        <h1>Pay For Your Holiday</h1>
    </div>
</div>
<div class="row">
    <div class="span3">
        <h2>Summer 2014</h2>
        <img src="../assets/img/hotel_temp.jpg"/>
    </div>
    <div class="span8">
        <h2>Payment to group</h2>
        <p>Please enter your details below to pay into the group account:</p>

        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputCardNumber">Card Number</label>
                <div class="controls">
                    <input type="text" id="inputCardNumber" placeholder="Card Number"></input>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputExpirationDate">Expiration Date</label>
                <div class="controls">
                    <input type="text" id="inputExpirationDate" placeholder="Expiration Date"></input>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputCVV">CVV</label>
                <div class="controls">
                    <input type="text" id="inputCVV" placeholder="CVV"></input>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputAmount">Amount</label>
                <div class="controls">
                    <div class="input-prepend">
                    <span class="add-on">EUR</span>
                    <input class="span2" id="inputAmount" type="text" placeholder="Amount"></input>
                </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox"> I accept the terms and conditions</input>
                    </label>
                    <button type="submit" class="btn">Make Payment</button>
                </div>
            </div>
        </form>
    </div>
</div>

