<div class="row">
    <div class="span9">
        <h1>List my holidays</h1>
    </div>
</div>

<div class="row">
    <div class="span3">
        <a href="create" class="btn">
            Add new holiday
        </a>
    </div>
</div>


<div class="row">
    <div class="span3">
        <h2>Summer 2014</h2>
        <a href="view"><img src="../assets/img/hotel_temp.jpg"/></a>
    </div>
    <div class="span3">
        <h2>Autumn 2014</h2>
        <img src="../assets/img/hotel_temp2.jpg"/>
    </div>
    <div class="span3">
        <h2>Winter 2014</h2>
        <img src="../assets/img/hotel_temp3.jpg"/>
    </div>
</div>

