<div class="row">
    <div style="clear: right; padding-top: 5px;" id="oauth-connect">
        <button class="btn" style="text-align: left" data-provider="github">
                    <span style="display: block; margin-left: 10px">
                      <img src="https://oauth.io/api/providers/github/logo" width="32" height="32" class="pull-left">
                      <span style="display: block; margin-left: 43px; position: relative; top: 5px">Connect with Github</span>
                    </span>
        </button>
    </div>
    <h4 id="success-text" style="display: none">Successful connection Github</span></h4>
    <h4 id="error-text" style="display: none">Connection fail with Github</h4>
    <pre id="result" style="display: none">
    </pre>
</div>