<div class="row">
    <div class="span9">
        <h1>Your holiday details</h1>
    </div>
</div>
<div class="row">
<div class="span3">
    <h2>Summer 2014</h2>
    <img src="../assets/img/hotel_temp.jpg"/>
</div>
<div class="span8">
    <h2>Super Ranch</h2>
    <p>Arrival: 2nd July 2014</p>
    <p>Departure: 22nd July 2014</p>
    <p>Details: Thought it would be fun to go to a ranch in the states to hike and enjoy the rivers. Keen to join me?</p>
    <p>Amount: Total is going to be $2000 between six of us. Not too bad for 20 days!</p>
</div>
</div>

<hr/>
<div class="row">
    <div class="span9">
        <h2>Friends</h2>
    </div>
</div>

<div class="row">
    <div class="span3">
        <a href="create" class="btn">Add friends</a>
    </div>
</div>

<div class="row friend">
    <div class="span2">
        <img src="../assets/img/duncan.jpg" width="50%"></img>
    </div>
    <div class="span4">
        <h4>Duncan - Organizer</h4>
        <p>Come join me - it'll be a great weekend!</p>
    </div>
    <div class="span2">
        <a href="final_payment" class="btn">Pay Super Ranch Now</a>
    </div>
</div>

<div class="row friend">
    <div class="span2">
        <img src="../assets/img/nathan.jpg" width="50%"></img>
    </div>
    <div class="span4">
        <h4>Nathan</h4>
        <p>Thinking about it - will let you know...</p>
    </div>
    <div class="span2">
        <a href="friend_payment" class="btn">Pay Now</a>
    </div>
</div>

<div class="row friend">
    <div class="span2">
        <img src="../assets/img/erin.jpg" width="50%"></img>
    </div>
    <div class="span4">
        <h4>Erin</h4>
        <p>Sounds like fun. Will there be wifi?</p>
    </div>
    <div class="span2">
        <span class="label label-success">PAID</span>
    </div>
</div>
