<div class="row">
    <div class="span9">
        <h1>Your holiday details</h1>
    </div>
</div>
<div class="row">
<div class="span3">
    <h2>Summer 2014</h2>
    <img src="../assets/img/hotel_temp.jpg"/>
</div>
<div class="span8">
    <h2>Super Ranch</h2>
    <p>Arrival: </p>
    <p>Departure: </p>
    <p>Details: </p>
    <p>Amount:</p>
</div>
</div>

<hr/>
<div class="row">
    <div class="span9">
        <h2>Friends</h2>
    </div>
</div>

<div class="row">
    <div class="span3">
        <a href="create" class="btn">Add friends</a>
    </div>
</div>

<div class="row friend">
    <div class="span2">
        <img src="../assets/img/duncan.jpg" width="50%"></img>
    </div>
    <div class="span4">
        <h4>Duncan</h4>
        <p>Count me in!</p>
    </div>
    <div class="span2">
        <span class="label label-success">PAID</span>
    </div>
</div>

<div class="row friend">
    <div class="span2">
        <img src="../assets/img/nathan.jpg" width="50%"></img>
    </div>
    <div class="span4">
        <h4>Nathan</h4>
        <p>Thinking about it - will let you know...</p>
    </div>
    <div class="span2">
        <a href="friend_payment" class="btn">Pay Now</a>
    </div>
</div>
